<div class="header" id="head">	
    <div class="container"> 
       <div class="header-top">
             <div class="logo">
              <a href="index.html"><img src="img/Reem-designstyle-pastel-m.png" width="40%" height="10%" alt="" /></a>
           </div>
         <div class="top-menu">
           
          <ul>
              <li><a class="active" href="#home"><span data-hover="Home">home</span></a></li>
              <li><a href="#about" class="scroll"><span data-hover="about">about</span></a></li>
              <li><a href="#services" class="scroll"><span data-hover="services">services</span></a></li>
              <li><a href="#contact" class="scroll"><span data-hover="contact">contact</span></a></li>
             
             <li><div class="mo" >
                 <input type="checkbox" class="cheackbox" id ="cheackbox" onclick="myFunction()">
                 <label for="cheackbox" class="label">
                  <i style="color: #dcf10f;" class="fas fa-moon" aria-hidden="true" ></i>

                  <i class="fas fa-sun" style="color: #f39c12;"></i>
                  <div class="boll"></div>
                 </label>
             </div></li>
           </ul>
           </div>
           
       
                     
    </div>
   </div>
   <div class="clearfix"></div>     
  </div>