<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs'); %>

<body>
    <%- include('../partials/header.ejs'); %> 
    <!-- <div class="header" id="head">	
          <div class="container"> 
             <div class="header-top">
                   <div class="logo">
                    <a href="index.html"><img src="img/Reem-designstyle-pastel-m.png" width="40%" height="10%" alt="" /></a>
                 </div>
               <div class="top-menu">
                 
                <ul>
                    <li><a class="active" href="#home"><span data-hover="Home">home</span></a></li>
                    <li><a href="#about" class="scroll"><span data-hover="about">about</span></a></li>
                    <li><a href="#services" class="scroll"><span data-hover="services">services</span></a></li>
                    <li><a href="#contact" class="scroll"><span data-hover="contact">contact</span></a></li>
                   
                   <li><div class="mo" >
                       <input type="checkbox" class="cheackbox" id ="cheackbox" onclick="myFunction()">
                       <label for="cheackbox" class="label">
                        <i style="color: #dcf10f;" class="fas fa-moon" aria-hidden="true" ></i>
    
                        <i class="fas fa-sun" style="color: #f39c12;"></i>
                        <div class="boll"></div>
                       </label>
                   </div></li>
                 </ul>
                 </div>
                 
             
                 	      
          </div>
         </div>
         <div class="clearfix"></div>     
        </div> -->
        <div class="content">
           
            <div class="about-section" id="home" >
        <div class="container">
            <div class="about-header">
                <h3>Who is me</h3>
                <div class="about-imag">
                <img  id="image1" src="img/me.PNG" alt="" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" >
                
                </div>
                <div class="about-text">
                        <p> <span class="myname">Reem Alshathely</span>Web Designer, holds a Bachelor's degree in Information Technology Engineering - College of Engineering, Taiz University
                            I live in Taiz
                            I have several skills in communication and social relations characterized by fun
                            I have skills in the use of computer applications and Microsoft applications, I have skills in design and photography
                            </p>
                            <p>also I have experience in computer maintenance
                               and I have experiences in several programming languages ​​such as HTML CSS Oracle mysql php android application JavaScript
                                my english is good
                                My Arabic is excellent This is a short introduction about me</p> 
                </div>
                <div class="clearfix"></div>
                </div>
                
                
        </div>
               
                  
        </div>
        <div  id ="about" class="about-sectiongrids">
                    <br>
                    <hr>
                    <br><br>
                    <div class="col-md-6 about-leftgrid">
                        <h3>Experince</h3>
                        <hr>
                        <div class="polls">
                        <div class="poll">
                            <div class="poll-desc">
                                <h4>HTML,CSS</h4>
                            </div>
                            <div class="percentage">
                                <p>80%</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="skills">
                                  <div style="width:80%"> </div>
                              </div>
                              </div>
                              <div class="polls">
                        <div class="poll">
                            <div class="poll-desc">
                                <h4>Ui/Ux</h4>
                            </div>
                            <div class="percentage">
                                <p>70%</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="skills">
                                  <div style="width:70%"> </div>
                              </div>
                              </div>
                              <div class="polls">
                        <div class="poll">
                            <div class="poll-desc">
                                <h4>php</h4>
                            </div>
                            <div class="percentage">
                                <p>75%</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="skills">
                                  <div style="width:75%"> </div>
                              </div>
                              </div>
                              <div class="polls">
                        <div class="poll">
                            <div class="poll-desc">
                                <h4>Oracle</h4>
                            </div>
                            <div class="percentage">
                                <p>85%</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="skills">
                                  <div style="width:85%"> </div>
                              </div>
                              </div>
                              <div class="polls">
                                <div class="poll">
                                    <div class="poll-desc">
                                        <h4>mysql</h4>
                                    </div>
                                    <div class="percentage">
                                        <p>80%</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="skills">
                                          <div style="width:80%"> </div>
                                      </div>
                                      </div>
                                      <div class="polls">
                                        <div class="poll">
                                            <div class="poll-desc">
                                                <h4>C#</h4>
                                            </div>
                                            <div class="percentage">
                                                <p>80%</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="skills">
                                                  <div style="width:80%"> </div>
                                              </div>
                                              </div>
                                             
    
        </div>
        <div class="col-md-6 about-rightgrid">
            <h3 >Skills</h3>
            <hr>
            <div class="polls">
            <div class="poll">
                <div class="poll-desc">
                    <h4>photography</h4>
                </div>
                <div class="percentage">
                    <p>80%</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="skills">
                      <div style="width:80%"> </div>
                  </div>
                  </div>
                  <div class="polls">
            <div class="poll">
                <div class="poll-desc">
                    <h4>Ui/Ux</h4>
                </div>
                <div class="percentage">
                    <p>70%</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="skills">
                      <div style="width:70%"> </div>
                  </div>
                  </div>
                  <div class="polls">
            <div class="poll">
                <div class="poll-desc">
                    <h4>Logo Design</h4>
                </div>
                <div class="percentage">
                    <p>75%</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="skills">
                      <div style="width:75%"> </div>
                  </div>
                  </div>
                  <div class="polls">
            <div class="poll">
                <div class="poll-desc">
                    <h4>Microsoft office</h4>
                </div>
                <div class="percentage">
                    <p>85%</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="skills">
                      <div style="width:85%"> </div>
                  </div>
                  </div>
                  <div class="polls">
                    <div class="poll">
                        <div class="poll-desc">
                            <h4>communication Skills</h4>
                        </div>
                        <div class="percentage">
                            <p>85%</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="skills">
                              <div style="width:85%"> </div>
                          </div>
                          </div>

</div>
            <div class="clearfix">
            </div>
            <br>
            <hr>
        </div>
        <br>
        <section class="services-section" id="services">
            
                <h2 class="se-hed">Our Services</h2>
                
                <div class="ro">
                <div class="col">
                    <div class="card" >
                        <div class="ico-up"><i class="fa fa-code" aria-hidden="true"></i></div>
                        <h3>webdesign</h3>
                        <p>I can help you in photography</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="ico-up"><i class="fa fa-camera" aria-hidden="true"></i>
                        </div>
                        <h3>photography</h3>
                        <p>I can help you in photography</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="ico-up"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
                        <h3>Webdevlopment</h3>
                        <p>I can help you in Webdevlopment</p>
                    </div>
                </div>
                
                </div>
            
        </section>
        <div class="main-container">
            <h2>Previous Work</h2>
            <div class="box-container">
               
                
                <div class="content">
                    <img class="Work-img" src="img/screencapture-file-D-startbootstrap-shop-homepage-gh-pages-startbootstrap-shop-homepage-gh-pages-je-html-2022-01-13-10_49_32.png" alt="">
                    <p>this page i draw it with p5 evening mode</p>
                    
                   
                </div>
                <div class="content">
                    <img  class="Work-img" src="img/screencapture-file-C-Users-Reem-Alshathly-Desktop-Rowad-cofee-home-html-2022-01-13-10_21_56.png" alt="">
                    <p>this page i desgin it when we pretrining</p>
                    
                    
                </div>
                <div class="content">
                    <img class="Work-img" src="img/screencapture-file-C-Users-Reem-Alshathly-Desktop-Rowad-Activity-2-index-html-2022-01-13-10_29_31.png" alt="">
                    <p>this page i draw it with p5 morning mode.</p>
                   
                    
                </div>
                <div class="content">
                    <img class="Work-img" src="img/screencapture-file-D-2-proj-html-2022-01-13-10_38_15.png" alt="">
                    <p>this page i draw it with p5 evening mode</p>
                    
                   
                </div>
                <div class="content">
                    <img  class="Work-img" src="img/screencapture-file-C-Users-Reem-Alshathly-Desktop-Rowad-reem-quiz-quiz-html-2022-01-13-10_22_36.png" alt="">
                    <p>this page i desgin it when we pretrining</p>
                    
                    
                </div>
                <div class="content">
                    <img class="Work-img" src="img/screencapture-file-D-2-proj-html-2022-01-13-10_41_37.png" alt="">
                    <p>this page i draw it with p5 morning mode.</p>
                   
                    
                </div>
                
            </div>
        </div>
      
        <hr>
        <h2 class="se-hed"> Contact us</h2>
        <section id="contact" class="contact" name="cont-dark">
        
            
            
           
            <div class="contin">
                <div class="contactinfo">
                    <div class="box">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        
                    </div>
                    <div class="box">
                       <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      
                   </div>
                    <div class="box">
                       <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                       </div>
                      
                   </div>
                   <div class="box">
                    <div class="icon"><i class="fab fa-github" aria-hidden="true"></i>


                    </div>
                   
                </div>
                <div class="box">
                    <div class="icon"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </div>
                    
                </div>
                </div>
           
            <div class="contactform">
                <form name="myform" method="post" action="" onsubmit="return validateform()" >
                    <h2>Send Message</h2>
                   
                    <div class="inputBox">
                       <input type="text" name="name" required="required">
                       <span>Full Name</span>
                       <div id="nameerror" class="error"></div>
                       
                       
                   </div>
                   <div class="inputBox">
                    <input type="email" name="Email" required="required">
                    <span>Email</span>
                    <div id="emailerror" class="error"></div>
                    
                    
                </div>
                   <div class="inputBox">
                    <textarea  name ="Message"required></textarea>
                    <span>Type your Message...</span>
                    <div id="meserror" class="error"></div>
                    
                </div>
                <div class="inputBox">
                 <input type="submit" value="Register">
                 
                 
             </div>
                </form>
                    
               </div>
              

                
            </div>
        

    </section>
        <!-- <footer class="container">
            
            <div class="copy-right">
                Copyright 2022 - <span>Reem Alshathely</span> All rights reserved
            </div>
        </footer>  -->
        
        <script>
            // function myFunction() {
            //    var element = document.body;
               
            //    element.classList.toggle("dark-mode");
              
            // }
            </script>
            <%- include('../partials/footer.ejs'); %> 

            <script src="js/main.js"> </script>
        </body>
       </html>